


/*Title*/
h1 {
  font: 25px Verdana, sans-serif;
  text-align: center;
}


/* On mouse hover, lighten state color */
path:hover {
	fill-opacity: .7;
}

/* Style for Custom Tooltip */
div.tooltip {   
 	position: absolute;           
	text-align: center;           
	width: 60px;                  
	height: 28px;                 
	padding: 2px;             
	font: 12px Verdana, sans-serif;        
	background: white;   
	border: 0px;      
	border-radius: 8px;           
	pointer-events: none;         
}
        
/* Legend Font Style */
body {
	font: 12px Verdana, sans-serif;
  /*left:100px;*/
  
}


/*day/date*/
h2 {
	text-align: center;
  font: 14px Verdana, sans-serif ;
}

/*instructions*/
h3 {
	/*text-align: center;*/
  font: 15px Verdana, sans-serif;
  font-weight: bold;
  /*float: left;*/
}

h4 {
  font: 15px Verdana, sans-serif;
  
  

}

h5 {
	/*text-align: center;*/
  font: 12px Verdana, sans-serif;
  left:1500px;

}

.column {
	/*text-align: left;*/
    float: center;
    /*width: 80%;*/
    margin-left: auto;
    margin-right: auto;
    width: 750px
    }
.row:after {
  content: "";
  display: table;
  clear: both;
}

/* Legend Position Style fixed bug */
.legend {
	position:absolute;
	left: 950px;
	top:750px;
	text-align: center;
}
/*Slider*/

.slider::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 25px;
  height: 25px;
  border-radius: 50%;
  background: #d3d3d3;
  cursor: pointer;
  text-align: center;
}

.slider {
  -webkit-appearance: none;
  width: 800px;
  margin: 10px;
  height: 25px;
  border-radius: 20px;
  background: #000000;
  outline: #000000;
  opacity: 0.7;
  -webkit-transition: .2s;
  transition: opacity .2s;
  cursor: pointer; 
}
/*.slider:hover {
  opacity: 7;
}
*/

/*button*/
.button {
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  margin: 5px 2px;
  cursor: pointer;

}

.button1 {font-size: 20px; background-color: #000000;}
.button2 {font-size: 20px; background-color: #000000;}
.button3 {font-size: 20px; background-color: #000000;}

